<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
 
</head>

<body>
  <h1><%= message %></h1>
 

  <div class="card-principal">
    <a href="/produtos">
    <img src="https://m.media-amazon.com/images/I/81IuLVVQq5L._AC_SY879_.jpg" class="imagem"><img>
    <h4 class="card-h">Ração Whiskas</h4>
    <h4 class="card-h">R$179,90</h4>
    <h4 class="card-h">Ração Premium 100% completa e balanceada para gatos adultos
      Receita sem corantes artificiais. Taurina, vitaminas e minerais para os melhores cuidados.
      Minerais controlados para ajudar a manter um trato urinário saudável.
      Ômega 6 e Zinco para ajudar a manter pele e pelo do seu gato saudáveis.
      Com Vitamina A para saúde da visão do seu gatinho.<h4>
    </a>
    </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>