
body {
    margin: 0;
    padding:0;
    background-color: #c8a8d8 !important;
   
  }

 
.card-principall{
  display: inline-block;
  margin: 30px;
  padding: 5px;
  background-color: rgb(240, 241, 246);
  border: 3px solid #f5f5f522;
  display: inline-block;
  overflow: hidden;
  height: 330px;
  width: 300px;
  font-size: 22px;
  filter: drop-shadow(0px 2px 2px  #726765e9);
}

.card-principal{
  display: inline-block;
  margin: 30px;
  padding: 5px;
  background-color: rgb(240, 241, 246);
  border: 3px solid #f5f5f522;
  display: inline-block;
  overflow: hidden;
  height: 530px;
  width: 300px;
  font-size: 22px;
  filter: drop-shadow(0px 2px 2px  #726765e9);
}

.imagem{
  margin-left: 75px;
  width: 150px;
  height: 250px;
}

.card-h{
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 2px;
  margin: 0;
  font-size: 15px;
  color: #c8a8d8;

}

.titulo{
  font-size: 30px;
  color: #FFFFFF;
  background-color: #2c1a46;
  padding: 10px 40px;
   font-family: Comic Sans MS, Comic Sans, cursive;
   height: 70px;
   font-size: 22px;
  background-color: #cebcd7; 
  filter: drop-shadow(0px 2px 2px  #c23b2957);
 
}

.sla{
  font-size: 46px;
  color: #FFFFFF;
  background-color: #2c1a46;
  padding: 10px 40px;
   font-family: Comic Sans MS, Comic Sans, cursive;
   font-size: 22px;
  background-color: #cebcd7; 
  filter: drop-shadow(0px 2px 2px  #c23b2957);
}

nav {
  font-size: 22px;
  background-color: #cebcd7; 
  filter: drop-shadow(0px 2px 2px  #c23b2957);
}

nav ul {
  list-style-type: nome;
  margin: 0 0 0 50px;
  padding: 5px 0;
}

nav li {
  display: inline;
  padding-right: 50px;
}

