body {
    margin: 0;
    padding:0;
    background: #a313f0;
   
  }

 
.card-principal{
  display: inline-block;
  margin: 30px;
  padding: 5px;
  background-color: rgb(240, 241, 246);
  border: 1px solid #f5f5f522;
  display: inline-block;
  overflow: hidden;
  height: 600px;
  width: 300px;
}
.imagem{
  width: 250px;
  height: 250px;
}